.user-profile {
  color: white;
}
.user-profile__image {
  height: 50%;
  position: relative;
  background-size: cover;
  background-position: top;
  background-image: url(https://i.pinimg.com/564x/ca/42/c8/ca42c8facd8f2b37557d17bc077900c0.jpg);
  border-radius: 8px;
}

.user-profile__body {
  text-align: center;
  padding-left: 10px;
}

.user-profile__body-name {
  font-size: 20px;
  margin: 0 auto;
}

h4 {
  color: grey;
  padding: 0;
  margin: 0;
}
